doctype html
html(lang='en')
  include common/head.pug
  +head("Get my List!")
  body
    header
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Course Materials shopping List
            p.lead Which books should I get?  We will show the list.
            //p.lead.mb-4 We will show the list.
            if(invalid)
              p Invalid ID Try again !!
            form(action="/", method="POST")
              .input-group.mb-3
                input(name="lead_id", type="number", placeholder="Enter your student ID")
                //.form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get My List!
    include common/footer.pug
    +footer()