extends layout

block content
  h1= title
  p Very Welcome to #{title}
  form(action="/", method="POST")
    input(name="lead_id", type="number", placeholder="Enter your student ID")
    button(type="submit") Submit

