
/*landing  **************************************************/
.loginDiv{
  height: 420px;
  width: 390px;
  background-color: rgb(247, 251, 253);
  border: 1px solid transparent;
  border-radius: 8px;
  border-bottom: 5px solid rgb(114, 116, 117);
  margin: 0 auto;
  padding: 12px 37px 63px 37px;
  filter: brightness(0.95);


}


.landing_head{
  text-align: left;
  font-family: 'Oswald', sans-serif ;
  font-weight: bold;
  padding-top: 38px;
  padding-bottom: 15px;

}

.landing_description {
  text-align: left;
  font-family: 'Oswald', sans-serif ;

  padding-left: 20px;
  padding-bottom: 10px;
}


.landing_alarm {
  color: #EF0000;
  text-align: left;
  padding-left: 21px;

}

.landing_input_ID{
  position: absolute;
  left: 48px;
  top: 282px;
  padding-left: 10px;

}
/**************************************************landing  */





/*list  **************************************************/
body#mybody {
  margin: 20px;
  padding: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

  background-image: url("/images/background.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position:right bottom ;
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-color: #7cc6c7;
}

.back_button {
  left: 20%;
  text-align: left;
  color: #000000;
  background-color: #F0F0F0;
  border-radius: 15px;
  width: 95px;
  height: 34px;

}

.buttonImage{
  padding-top: 2px;
  padding-left: 12px;
  float: left;
}
.buttonText{
  padding-top: 1px;
  font-size: 1.2em;
  color: black;


}

a:hover{
  text-decoration: none !important;

}



.info_context{
  padding-top: 30px;
  padding-left: 10px;
}

.search_list{
  padding-left: 0px;
}
.title{
  padding-bottom: 18px;
}

ul, li {
  list-style: none;
  padding-inline-start: 0px;


}

.class_title{
  background: #f5f5f5;

  background-image: linear-gradient(#f5f5f5, #f5f5f5);

  border-radius: 4px 4px 0 0;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.book_info{
  padding-bottom: 20px;
}

.book_detail{
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: left;
  padding-left: 10px;



}
/**************************************************list  */




/*media****************************************************************************/

@media screen and (max-width: 767px) {
  .landing_head > h1 {
    font-size: 2.0em;
  }
  .landing_head{
    padding-left: 15px;
  }

  .loginDiv {
    margin: 0;
    padding: 12px 26px 63px;
    width: 290px;
    height: 450px;
  }


  .landing_input_ID{
    position: absolute;
    left: 55px;
    top: 288px;
    padding-left: 10px;

  }

  .submitButton{
    position: absolute;
    left: 78px;
    top: 40px;
  }


  .landing_alarm {
    position: absolute;
    left: 53px;
    top: 261px;

  }

  body#mybody {

    background-size: 120px 120px;
  }
}
/****************************************************************************media*/

.footer{
  font-size: 0.5em;
  text-align: right;
  color: #616977;

  padding-top: 60px


}