
/*landing  */
.loginDiv{
  height: 420px;
  width: 390px;
  background-color: rgb(247, 251, 253);
  border: 1px solid transparent;
  border-radius: 8px;
  border-bottom: 5px solid rgb(114, 116, 117);
  margin: 0 auto;
  padding: 12px 37px 63px 37px;

}


.landing_head{
  text-align: left;
  font-family: 'Oswald', sans-serif ;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;

}

.landing_description {
  text-align: left;
  font-family: 'Oswald', sans-serif ;

  padding-left: 20px;
  padding-bottom: 10px;
}


.landing_alarm {
  color: #EF0000;
  text-align: left;
  padding-left: 21px;

}

.landing_input_ID{
  position: absolute;
  left: 48px;
  top: 262px;
  padding-left: 10px;

}



/*list  */
body#mybody {
  margin: 20px;
  padding: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;



  background-image: url("/images/background.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back_button {
  left: 20%;
  text-align: left;
}

/*.title {*/
  /*padding: 50px;*/

/*}*/

/*.search_list {*/
  /*padding: 50px;*/
/*}*/




@media screen and (max-width: 767px) {
  .landing_head > h1 {
    font-size: 2.0em;
  }
  .landing_head{
    padding-left: 15px;
  }

  .loginDiv {
    margin: 0;
    padding: 12px 26px 63px;
    width: 290px;
    height: 450px;
  }


  .landing_input_ID{
    position: absolute;
    left: 55px;
    top: 288px;
    padding-left: 10px;

  }

  .submitButton{
    position: absolute;
    left: 78px;
    top: 40px;
  }


  .landing_alarm {
    position: absolute;
    left: 53px;
    top: 261px;

  }
}

.footer{
  font-size: 0.5em;
  text-align: right;
  color: #616977;

  padding-top: 60px


}